Repository EmptyG2018/vue3-ts-taro-template: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "src/*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "src/*.vue": ["eslint --fix", "prettier --write"],
  "src/*.{scss,html}": ["prettier --write"],
  "*.md": ["prettier --write"]
}

build(优化构建): n
  .eslintrc.json
  .plop/generator/api.js
  .plop/generator/component.js
  .plop/generator/hook.js
  .plop/generator/page.js
  .plop/template/api.ts
  .plop/template/component.vue
  .plop/template/hook.ts
  .plop/template/page.vue
  application.config.ts
  config/prod.js
  src/dicts/index.ts
  src/pages/index/index.scss
  src/services/request.ts
  src/services/user.ts
  src/utils/index.ts
  src/utils/utils.ts
  tsconfig.json
Due: none

build(优化构建): n
  .plop/generator/page.js
  .plop/template/api.ts
  .plop/template/style.scss
Due: none

build(优化结构): n
  .eslintrc.json
  .plop/generator/component.js
  .plop/generator/page.js
  .plop/template/component.hbs
  .plop/template/page.hbs
  .plop/template/page.vue
  .plop/template/page_config.hbs
  .plop/template/style.hbs
  config/dev.js
  config/index.js
  config/prod.js
  project.private.config.json
  src/app.config.ts
  src/app.ts
  src/application.config.ts
  src/components/Title.vue
  src/components/demo.vue
  src/hooks/useShow.ts
  src/pages/goods/index.config.ts
  src/pages/goods/index.scss
  src/pages/goods/index.vue
  src/pages/home/index.config.ts
  src/pages/home/index.scss
  src/pages/home/index.vue
  src/pages/index/index.scss
  src/pages/index/index.vue
  src/services/article.ts
  src/stores/counter.ts
  src/utils/index.ts
  src/utils/utils.ts
  tsconfig.json
  types/global.d.ts
Due: eslint --fix, prettier --write

build(优化ts定义): n
  .plop/generator/api.js
  .plop/generator/hook.js
  .plop/generator/page.js
  .plop/template/api.hbs
  .plop/template/api.ts
  .plop/template/component.hbs
  .plop/template/hook.hbs
  .plop/template/hook.ts
  src/components/Title.vue
  src/dicts/index.ts
  src/pages/demo/index.config.ts
  src/pages/demo/index.scss
  src/pages/demo/index.vue
  src/pages/index/index.vue
  src/services/article.ts
  src/services/request.ts
  src/services/typings.d.ts
  src/services/user.ts
  src/wx.config.ts
Due: eslint --fix, prettier --write

build(优化项目结构): 整体存在修改
  .eslintrc.json
  package.json
  src/hooks/useShow.ts
  src/pages/index/index.vue
  src/services/request.ts
  src/services/user.ts
  tsconfig.json
  types/global.d.ts
  yarn.lock
Due: none

build(hooks): 封装hooks
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  config/dev.js
  package.json
  project.private.config.json
  src/app.config.ts
  src/app.ts
  src/components/Title.vue
  src/hooks/index.ts
  src/hooks/useLoading.ts
  src/hooks/usePage.ts
  src/hooks/usePaging.ts
  src/hooks/useRequest.ts
  src/hooks/useShow.ts
  src/hooks/useToggle.ts
  src/hooks/useVisible.ts
  src/index.html
  src/pages/car/index.config.ts
  src/pages/car/index.scss
  src/pages/car/index.vue
  src/pages/category/index.config.ts
  src/pages/category/index.scss
  src/pages/category/index.vue
  src/pages/home/index.vue
  src/pages/index/index.vue
  src/pages/user/index.config.ts
  src/pages/user/index.scss
  src/pages/user/index.vue
  src/services/index.ts
  src/services/user.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

docs(global): 新增文档描述
  README.md
  src/hooks/usePage.ts
Due: prettier --write

feat(hooks): 封装基础hooks
  src/hooks/index.ts
  src/hooks/useAsync.ts
  src/hooks/useLoadDrop.ts
  src/hooks/useLoadRefresh copy.ts
  src/hooks/useLoadRefresh.ts
  src/hooks/usePage.ts
  src/hooks/useRequest copy1.ts
  src/hooks/useRequest.ts
  src/pages/user/index.config.ts
  src/pages/user/index.vue
Due: none

docs(global): 完善说明文档
  1.md
  2.md
  3.md
  README.md
  package-lock.json
  package.json
  types/global.d.ts
  yarn.lock
Due: prettier --write

docs(docs): 维护文档
  1.md
  2.md
  3.md
  README.md
  config/index.js
  docs/tree.png
  src/hooks/index.ts
  src/hooks/useLoadDrop.ts
  src/hooks/useLoadRefresh copy.ts
  src/hooks/useRequest copy1.ts
  src/pages/user/index.vue
  tsconfig.json
Due: prettier --write

docs(docs): 完善文档
  README.md
  src/index.html
Due: prettier --write

docs(doc): 完善文档
  README.md
Due: prettier --write

docs(doc): 完善文档
  README.md
  docs/git.md
  docs/hook.md
  src/dicts/index.ts
  src/dicts/typings.d.ts
  src/hooks/useToggle.ts
  src/hooks/useVisible.ts
  src/pages/user/index.vue
Due: prettier --write

docs(doc): 完善文档
  docs/hook.md
  src/hooks/useAsync.ts
  src/hooks/useLoadRefresh.ts
  src/hooks/useLoading.ts
  src/hooks/usePaging.ts
  src/hooks/useRequest.ts
Due: prettier --write

docs(doc): 完善文档
  .plop/generator/page.js
  .plop/template/page.hbs
  README.md
  docs/hook.md
  src/hooks/useDebounce.ts
  src/hooks/usePaging.ts
  src/hooks/useThrottle.ts
  src/pages/demo/index.config.ts
  src/pages/demo/index.vue
Due: prettier --write

feat(hooks): 分页加载、下拉加载
  config/dev.js
  config/index.js
  config/prod.js
  src/hooks/index.ts
  src/hooks/useDebounce.ts
  src/hooks/useLoadDrop.ts
  src/hooks/useLoadPage.ts
  src/hooks/useLoadRefresh.ts
  src/hooks/useRequest.ts
  src/pages/user/index.vue
  src/services/request.ts
  src/services/user.ts
Due: none

feat(docs): 文档
  docs/hook.md
Due: prettier --write

docs(doc): 整理文档格式
  README.md
Due: prettier --write

fix(hook): 调整hook字段
  src/hooks/useLoadPage.ts
  src/pages/hook/index.vue
Due: none

perf(hooks): 优化
  src/hooks/useLoadPage.ts
  src/hooks/useLoadRefresh.ts
Due: none

feat(pages): 购物车
  docs/hook.md
  mocks/_utils.js
  mocks/car.js
  mocks/index.js
  package.json
  src/app.config.ts
  src/app.ts
  src/components/CarItem.vue
  src/components/InputNumber.vue
  src/components/index.ts
  src/hooks/useAsync.ts
  src/hooks/useLoadRefresh.ts
  src/pages/car/index.config.ts
  src/pages/car/index.scss
  src/pages/car/index.vue
  src/pages/user/index.vue
  src/services/car.ts
  src/services/index.ts
  types/global.d.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: 搜索页绘制
  project.config.json
  project.private.config.json
  shui.html
  src/app.config.ts
  src/pages/searchCorpus/index.config.ts
  src/pages/searchCorpus/index.scss
  src/pages/searchCorpus/index.vue
Due: eslint --fix, prettier --write

feat: [评价页面和订单评价卡片页面组件绘制]
  project.private.config.json
  shui.html
  src/app.config.ts
  src/app.ts
  src/pages/evaluate/components/EvaluationCard/index.scss
  src/pages/evaluate/components/EvaluationCard/index.vue
  src/pages/evaluate/myComments/index.config.ts
  src/pages/evaluate/myComments/index.scss
  src/pages/evaluate/myComments/index.vue
Due: eslint --fix, prettier --write

feat(components): 安全区组件
  src/components/SafeArea.vue
  src/components/index.ts
  src/pages/index/index.vue
Due: none

feat(components): 组件开发
  project.private.config.json
  src/app.config.ts
  src/app.ts
  src/components/ActionBtn.vue
  src/components/CardCheckbox.vue
  src/components/CardCheckboxGroup.vue
  src/components/CouponTag.vue
  src/components/SpecRadio.vue
  src/pages/goods/index.config.ts
  src/pages/goods/index.scss
  src/pages/goods/index.vue
  src/pages/login/components/ProcessCard.d.ts
  src/pages/login/components/ProcessCard.vue
  src/pages/login/index.config.ts
  src/pages/login/index.scss
  src/pages/login/index.vue
Due: eslint --fix, prettier --write

feat(pages): 登录页面
  project.private.config.json
  src/app.config.ts
  src/app.ts
  src/components/SpecRadio.vue
  src/pages/login/components/ActionBtn.vue
  src/pages/login/components/InfoFormCard.vue
  src/pages/login/components/InfoFormCell.vue
  src/pages/login/components/InfoFormCheckbox.d.ts
  src/pages/login/components/InfoFormCheckbox.vue
  src/pages/login/components/InfoFormCheckboxGroup.ts
  src/pages/login/components/InfoFormCheckboxGroup.vue
  src/pages/login/components/InfoFormHeader.vue
  src/pages/login/components/InfoFormItem.vue
  src/pages/login/components/LoginFormCard.vue
  src/pages/login/components/ProcessCard.vue
  src/pages/login/index.scss
  src/pages/login/index.vue
Due: eslint --fix, prettier --write

*
  src/pages/goods/index.scss
  src/pages/login/index.scss
Due: none

style(global): 调整格式
  .prettierrc.json
  package.json
  src/app.config.ts
  src/app.ts
  src/components/ActionBtn.vue
  src/components/CardCheckbox.vue
  src/components/CouponTag.vue
  src/components/SafeArea.vue
  src/components/SpecRadio.vue
  src/components/index.ts
  src/pages/goods/index.config.ts
  src/pages/goods/index.vue
  src/pages/index/index.vue
  src/pages/login/components/ActionBtn.vue
  src/pages/login/components/InfoFormCard.vue
  src/pages/login/components/InfoFormCell.vue
  src/pages/login/components/InfoFormCheckbox.d.ts
  src/pages/login/components/InfoFormCheckbox.vue
  src/pages/login/components/InfoFormCheckboxGroup.ts
  src/pages/login/components/InfoFormCheckboxGroup.vue
  src/pages/login/components/InfoFormHeader.vue
  src/pages/login/components/InfoFormItem.vue
  src/pages/login/components/LoginFormCard.vue
  src/pages/login/components/ProcessCard.d.ts
  src/pages/login/components/ProcessCard.vue
  src/pages/login/index.config.ts
  src/pages/login/index.vue
Due: eslint --fix, prettier --write

docs(docs): 新增注释、定义类型
  README.md
Due: prettier --write

docs(docs): 新增参与人员
  README.md
Due: prettier --write

docs(docs): 描述 useClassName 使用方式
  docs/hook.md
Due: prettier --write

docs(docs): 文档更新
  README.md
  src/components/SafeArea.vue
Due: prettier --write

feat(hooks): 新增系统信息hook
  README.md
  src/pages/home/index.vue
  src/pages/index/index.vue
  src/pages/store/index.vue
  src/stores/counter.ts
  src/stores/index.ts
  src/stores/system.ts
Due: prettier --write
